body,
#root,
.loading {
  min-height: 100vh;
}
.container {
  max-width: 800px;
}
.cursor-pointer {
  cursor: pointer;
}

.table .notesBtnControl {
  width: 1px;
  padding: 2px;
}
.table .form-control {
  padding: 0.25rem 0.5rem;
  background-color: #fff;
}
.table .form-select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  background-color: #fff;
}

.sort_by {
  position: relative;
}
.sort_by::after {
  content: '➤';
  position: absolute;
  right: 9px;
  top: 8px;
}
.sort_by.ASC::after {
  transform: rotate(-90deg);
}
.sort_by.DESC::after {
  transform: rotate(90deg);
}
